<div id="wrapper">
<div id="div1">
<%= image_tag("map.png", size: "500x200", :alt => "rss feed") %>
</div>

<div id="div2">
<h1>Create an account</h1>
<p>It's free and always will be.</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "email" %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "email" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "password" %>
    <%= f.file_field :avatar %>
    <%= f.submit "Sign up", class: "submit" %>
<% end %>
</div>
</div>