<%= image_tag @user.avatar.url(:medium), style: "float:left; margin-left:20px;" %><br>

<% if @user.id == current_user.id %>
<%= form_for @post, :html => { :style => 'width:200px; float:left; ' } do |f| %>
<h3>
What's on your mind?
</h3>
<%= f.text_area :body %><br>
<%= f.submit "Post" %>
<% end %>
<% end %>

    <div class="panel panel-default pull-right" >
	<% @posts.each do |post| %>
	<br>
	<div class='name'>
		<%= post.user.name %> shared:<br><br>
	</div>
	<%= post.body %><br>
    <div class='name'>
	<%= link_to like_post_path(post), method: :put do %>
    <i class="glyphicon glyphicon-thumbs-up"></i>
	<%= post.get_upvotes.size %>
	<% end %>
	<%= link_to dislike_post_path(post), method: :put do %>
	<i class="glyphicon glyphicon-thumbs-down"></i>
	<%= post.get_downvotes.size %>
	<% end %>
	<br>
	</div>
	<div class="panel-footer">
		<%= form_for @comment do |c| %>
		<%= c.text_area :body, style: 'height:30px; border-radius:5px; width:75%;' %>
		<%= c.hidden_field :post_id, :value => post.id %>
		<%= c.hidden_field :name, :value => current_user.name %>
		<%= c.submit "comment" %>
		<% end %>
		<% @comments.each do |z| %>
			<% if z.post_id == post.id %>
			<div class='commentname'>
			<%= z.name %> commented:
			</div><br>
			<div class="commentbody">
			<%= z.body %></div><br>
			<% end %>
		 	<% end %>
	</div>
	<p><br><br></p>
	<% end %>
	</div>