<%= @user.name %>

  <%= form_for @post do |f| %>
    <%= f.text_area :body %><br>
    <%= f.submit "Create" %>
  <% end %>

  <% @users_posts.each do |f| %>
  <ul>
  	<li>
    <%= f.body %>
    </li>
  </ul>
  <% end %>
