<%= @user.name %>

  <%= form_for @post do |f| %>
    <%= f.text_area :body %><br>
    <%= f.submit "Create" %>
  <% end %>

<% @posts.each do |post| %>
<h4><%= post.body %><br>
</h4>
<%= link_to like_post_path(post), method: :put do %>
Like
<%= post.get_upvotes.size %>
<% end %>

<%= link_to dislike_post_path(post), method: :put do %>
Dislike
<%= post.get_downvotes.size %>
<% end %>
<% end %>