<div id="header_wrapper">
 <div id="headers">
 <li id="sitename"><a href="http://talkerscode.com">Jakebook</a></li>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <li> <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, class: "toppassword" %></li>
    <li><%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off", class: "toppassword" %><br><%= link_to "I'm retarded and forgot my password.", new_user_password_path %></li>
  <li> <%= f.submit "Log in", class: "topsubmit" %></li>
<% end %>
 </div>
</div>

